[Desktop Entry]
Name=RulerAssistantView
Name[ca]=VisualitzacióAssistentRegla
Name[da]=LinealAssistentVisning
Name[de]=Hilfslineal-Ansicht
Name[el]=Προβολή βοηθού κανόνα
Name[en_GB]=RulerAssistantView
Name[es]=RulerAssistantView
Name[et]=Joonlauaabilise vaade
Name[ga]=RulerAssistantView
Name[gl]=VistadoAsistenteRegra
Name[it]=Vista dell'assistente dei righelli
Name[kk]=RulerAssistantView
Name[nb]=Linjalassistent-visning
Name[nds]=Linealenhölper-Ansicht
Name[nl]=Beeld voor assistent voor liniaal
Name[pt]=RulerAssistantView
Name[pt_BR]=RulerAssistantView
Name[sv]=Linjalguidevy
Name[tr]=Cetvel Yardımcısı Görünümü
Name[uk]=RulerAssistantView
Name[wa]=Vuwe do macrea des riles
Name[x-test]=xxRulerAssistantViewxx
Name[zh_TW]=尺規小助手檢視
Comment=RulerAssistantView
Comment[ca]=VisualitzacióAssistentRegla
Comment[da]=LinealAssistentVisning
Comment[de]=Hilfslineal-Ansicht
Comment[el]=Προβολή βοηθού κανόνα
Comment[en_GB]=RulerAssistantView
Comment[es]=RulerAssistantView
Comment[et]=Joonlauaabilise vaade
Comment[ga]=RulerAssistantView
Comment[gl]=VistaAsistenteRegra
Comment[it]=Vista dell'assistente dei righelli
Comment[kk]=RulerAssistantView
Comment[nb]=Linjalassistent
Comment[nds]=Linealenhölper-Ansicht
Comment[nl]=Beeld voor assistent voor liniaal
Comment[pt]=RulerAssistantView
Comment[pt_BR]=RulerAssistantView
Comment[sv]=Linjalguidevy
Comment[tr]=Cetvel Yardımcısı Görünümü
Comment[uk]=RulerAssistantView
Comment[wa]=Vuwe do macrea des riles
Comment[x-test]=xxRulerAssistantViewxx
Comment[zh_TW]=尺規小助手檢視
X-KDE-ServiceTypes=Krita/ViewPlugin
Type=Service
X-KDE-Library=kritarulerassistantview
X-Krita-Version=3
